html, body {
    background-color: #000;
    color: #FFF;
    font: normal 12px "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
div#top-nav-list-container {
    background-color:#101010;
    margin:0; padding:1px;
}
div#top-nav-list-container ul {
    background-color:#202020;
    display:block;
    margin:1px; padding:1px;
}
div#top-nav-list-container ul li {
    background-color:#303030;
    display:inline-block;
    list-style-image:none;
    list-style-position:inside;
    list-style-type:none;
    margin:1px; padding:1px;
}
div#top-nav-list-container ul li a {
    display:block;
    font-size:24px;
    line-height:32px;
    margin:1px; padding:0 24px;
}
div#top-nav-list-container ul li a:link,
div#top-nav-list-container ul li a:visited {
    background-color:#404040;
    color:#A0A0A0;
    text-decoration:none !important;
}
div#top-nav-list-container ul li a:hover,
div#top-nav-list-container ul li a:active,
div#top-nav-list-container ul li a.selected {
    background-color:#A0A0A0;
    color:#404040;
    text-decoration:none !important;
}

table#index-table {
    background-color: #D4D0C8;
    border-color: #C0C0C0 #808080 #808080 #C0C0C0;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    width:100%;
}
table#index-table th, table#index-table td {
    border-color: #808080 #C0C0C0 #C0C0C0 #808080;
    border-style: solid;
    border-width: 1px;
    padding:2px 4px;
    vertical-align:top;
    width:33.33%;
}
table#index-table th {
    background-color:#000080;
    color:#FFF;
    font-weight:bold;
    text-align:center;
}
table#index-table td {
    background-color:#404040;
    color:#C0C0C0;
    text-align:left;
}
a {
    color:#C0C0FF;
}
table#index-table td a {
    color: #FFF;
}